.cart {
    height: 70vh;
    width: 100%;

    display: flex;
    flex-direction: column;


    &-top {
        display: flex;
        padding: 6rem;

        .top {
            &-title {
                font-size: 2.5rem;
                font-weight: 700;
            }


            &-link {
                align-self: flex-end;
                margin-left: 6rem;
                font-size: 1.3rem;

                &:hover {
                    cursor: pointer;
                    border-bottom: 1px solid #d32e2e;
                }
            }
        }
    }



    &-middle {
        display: flex;
        flex-direction: column;
        align-items: center;

        .mb{
            margin-bottom:3rem;
        }

        .middle {

            &-link{
                margin-top: 3rem;
                color: #d32e2e;
                font-size: 1.4rem;
                text-decoration: underline;

                &:hover{
                    cursor: pointer;
                }
            }

            &-txt {
                margin-top: 3rem;
                font-size: 1.6rem;
               
                
            }
        }
    }

    &-bottom{
        padding-top: 7rem;
        display: flex;
        justify-content:space-between;
        width: 95%;
        margin: 0 9rem;
        font-size: 1.5rem;
        line-height: 3rem;
        font-weight: 600;



        .bottom{

            &-L{

                .titleL{
                    font-weight: 600;
                }

                font-weight: 400;
                .email{
                    text-decoration: underline;
                    font-style: italic;
                }
            }


            &-M{
                .a{
                    font-weight: 400;
                    &:hover{
                        cursor: pointer;
                        color: #d32e2e;
                    }
                }
            }

            &-R{
                .card{

                    display: flex;
                    height: 5rem;
                    width: 40rem;

                    div{
                        margin: .3rem;
                    }

                    &-V{
                        background: center / contain no-repeat url("../../Assets/Icons&Logos/Payments/visa.svg");
                        height: 3.3rem;
                         width: 3.3rem;
                    }
                    &-T{
                        background: center / contain no-repeat url("../../Assets/Icons&Logos/Payments/discover.svg");    
                        height: 3.3rem;
                        width: 3.3rem;
                    }
                    &-AE{
                        background: center / contain no-repeat url("../../Assets/Icons&Logos/Payments/americanExpress.svg");
                        height: 3.3rem;
                         width: 3.3rem;
                    }
                    &-M{
                        background: center / contain no-repeat url("../../Assets/Icons&Logos/Payments/amex.svg");
                        height: 3.3rem;
                         width: 3.3rem;
                    }
                    &-P{
                        background: center / contain no-repeat url("../../Assets/Icons&Logos/Payments/paypal.svg");
                        height: 3.3rem;
                         width: 3.3rem;
                    }
                }
            }
        }
    }




}