.retailer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-map{
        margin: 3rem 0;
        height: 70vh;
        width: 94%;

        .map{
        height: 100%;
        width: 100%;
        }
    }

    .search-retailer-main{
        width: 100%;
        padding: 4rem 6rem;
    }

    .locations-main{
        width: 100%;
        padding: 4rem 6rem;

        .location:nth-child(odd) {
            background: rgb(250, 246, 246);
          }
       
    }
}

@media screen and (max-width:1050px) {

    .retailer{
       
        
    .search-retailer-main{
        width: 100%;
        padding: 2rem 3rem;
    }

        &-map{
            height: 50vh;
        }

        .locations-main{
            width: 100%;
            padding: 2rem 3rem;

            .location{
                &-column{
                    &__1{
                        margin-right:0;
                    }
                    &__2{
                        margin-right:0;
                    }
                }
            }
        }
    }

}


@media screen and (max-width:650px) {

    .retailer{


    .search-retailer-main{
        width: 100%;
        padding: 2rem 2rem;
    }

        &-map{
            height: 50vh;
        }
    }

}