.bike {
    height: 100%;
    width: 100%;
    font-size: 2.6rem;
    padding: 2rem 6rem;

    &-details {
        padding: 5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-info {
            width: 100%;

            .buttons {
                display: flex;
                justify-content: flex-end;
                padding: 1rem;
                margin-right: 8rem;
            }

            .name {
                font-weight: 500;

            }

            .main {
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin-top: 2rem;

                .part {
                    font-size: 1.4rem;
                    align-self: flex-end;
                }

                .price {
                    font-weight: 400;
                }
            }
        }
    }


    &-description {
        width: 80%;
        padding: 6rem;
        font-size: 2rem;

        li {
            margin: 3rem 0;
        }
    }
}

@media screen and (max-width: 1450px) {
    .bike {
        padding: 2rem 0 0 0;
    }
}


@media screen and (max-width: 1050px) {
    .bike {


        &-details {
            padding: 4rem 2rem 4rem 0;

            &-info {
                .buttons {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin: 0;
                }
            }
        }


        &-description {

            width: 80%;
            font-size: 1.6rem;
            padding: 2rem 0 0 1rem;

            li {
                margin: 1.2rem;
            }
        }
    }
}

@media screen and (max-width:750px) {
    .bike {


        &-details {
            padding: 0 0 3rem 0;

            &-info {
                .buttons {
                    flex-direction: column;
                    margin: 1rem;
                }

                .name {}

                .main {
                    display: flex;
                    flex-direction: column;

                    .price {
                        order: 2;
                        margin: 1rem;
                    }

                    .name {
                        order: 1;

                    }

                    .part {
                        order: 3;
                        align-self: center;
                    }
                }
            }
        }

        &-description {
            width: 80%;
            font-size: 1.4rem;

            li {
                margin: 1.2rem 0;
            }
        }

    }
}


@media screen and (max-width:550px) {
    .bike {
        padding: 0;
    }
}