.story-container{
    background: center / cover no-repeat url("../../../Assets/Images/About/AboutHero.jpg");
    width: 100%;
    height: 100vh;
    position: relative;

    &__text{
        background-color: rgba(black,0.35);
        padding: 1rem;
        position: absolute;
        top:0;
        right: 0;
        margin: 8rem;
        width: 30rem;
        height: 55rem;

        h1{
            color: #d32e2e;
        }

        &--p{
            margin-top: 1rem;
            span{
                color: #d32e2e;
                font-weight: 700;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .story-container{
        height: 70vh;

        &__text{
            height: 60%;
            width: 100%;
            margin: 1rem 0 0 2rem;
           display: flex;
           flex-direction: column;
           &--p{
            font-size: 1.5rem;
           }
        }
    }
}

@media screen and (max-width: 360px) {
    .story-container{


        &__text{
            height: 90%;
        }}}