.bikes{
    width: 100%;
    height: 100%;
    padding: 0 10rem;
    margin-bottom: 10rem;
    
    .divider{
        display: flex;
    }
}


@media screen and (max-width:1650px) {
    .bikes {
        padding: 0 5rem;

    }
}

@media screen and (max-width:1400px) {
    .bikes {
        padding: 0 2rem;
        font-size: .8rem;
        margin-bottom:7rem;
    }
}

@media screen and (max-width:1200px) {
    .bikes {
        padding-left:2rem;
        font-size: .8rem;
        margin-bottom:0;
    }
}

