.sidebar {
    margin-right: 2rem;
    &-container {
       
        &__title {
            font-size: 2rem;
            margin-bottom: 3rem;
        }
        &__subtitle {
          font-size: 1.6rem;
          font-weight: 600;
          margin-bottom: 2rem;
        }
    }

    &-menu {
        margin-top: 3.3rem;
        width: 22rem;

         &-text{
             margin-top: 2rem;
             font-size:1.1rem;
         }
    }

}

@media screen and (max-width:1050px) {
    .sidebar {
        display: none;
    }
}
