.Hero{
    height: calc(100vh - 95px);
    background: url('../../../Assets/Images/Landing/LandingHero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding-left: 6rem;
    
    display: grid;
    grid-template-columns: repeat(12,minmax(0, 1fr));
    grid-template-rows: repeat(12,minmax(0, 1fr));
  
        &__text{
            grid-column: 1/6;
            grid-row: 3/span 5;
            


            &--title{
                font-size: 8rem;
                font-weight: 900;
            }
            &--subtitle{
                margin-top: 1rem;
                font-size: 1.6rem;
                font-weight: 700;
            }
        }

    .CTA{
        grid-row: 12/-1;
        grid-column: 1/span 2;
        font-size: 1.5rem;
        cursor: pointer;
        align-self: center;
        font-weight: 700;
        width: 26rem;
        padding: 1rem;
       
        .bottom{
            color: #d32e2e;
        }
        &:hover{
            background-color: rgba(#fff,.2);
        }
    }    


    }

@media screen and (max-width: 850px){
    .Hero{
        padding-left: 3rem;
        &__text{
            grid-column: 1/9;
            grid-row: 3/span 5;
            
            &--title{
                font-size: 4.5rem;
                
            }
            &--subtitle{
                font-size: 2rem;
                margin-top: 15rem;
            }
        }

    }

    
}

@media screen and (max-width: 625px){
    .Hero{
        
        &__text{
           

            &--title{
                font-size: 3rem;
                
            }
            &--subtitle{
                font-size: 1.4rem;
                margin-top: 7rem;
                font-weight: 700;
            }
        }

        .CTA{
            background-color: rgba(black,.6);
            margin-bottom: 2rem;
            font-size: 1.1rem;
            width: 20rem;
        }
    }

    
}