.trail{
    height: 100%;
    width: 100%;

    font-size: 1.2rem;

    .image-hero{
        height: 45rem;
        width: 100%;
        object-fit: cover;
    }
}


@media screen and (max-width: 1200px){
    .trail{
    font-size: .9rem;
    }

}

@media screen and (max-width: 900px){
    .trail{
        font-size: .7rem;
        .image-hero{
            height: 20rem;
        }
    }

}