.second-container{
    background: center / cover no-repeat url("../../../Assets/Images/About/AboutSection3.jpg");
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: 15rem;
    
    .title{
        position: absolute;
        top:-10%;
        color: black;
       text-shadow: 1px 1px 0 #7A7A7A;

        span{
            color: #d32e2e;
        }
    }


}