.HomeCategories{

    background-color: black;
    width: 100%;
    color: #fff;
    padding:15rem 6rem 20rem 6rem;

    .title{
        display: block;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 4rem;
    }
    .categories{
        display: flex;
        width: 100%;
        height: 60vh;
        
        text-transform: uppercase;
        font-size: 2.5rem;

        .wrapper{
            width: 33.3333%;
            position: relative;

            &:hover{
                cursor: pointer;
            }
        }

        &-text{
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-weight: 900;
            font-size: 3.3rem;
            color: #fff;
        }

        .filter{
            filter: brightness(.4);
            transition: filter .35s ease-in;

            &:hover{
                filter: brightness(1);
            }
        }

        .trail{
            background: center / cover no-repeat url("../../../Assets/Images/Landing/TrailBGCategoires.jpg");
            width: 100%;
            height: 100%;
        }
        .downhill{
            background:center / cover no-repeat url("../../../Assets/Images/Landing/DownHillBGCategories.jpg");
            width: 100%;
            height: 100%;
        }
        .s-works{
            background:center / cover no-repeat url("../../../Assets/Images/Landing/SWorksBGCategories.jpg");
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (max-width: 1200px){
    .HomeCategories{

        .categories{
           .wrapper{
               span{
                text-align: center;
                min-width: 90%;
               }
           }
        }
    }
}

@media screen and (max-width: 950px){
    .HomeCategories{
        padding: 3rem;

        .categories{
            height: 35vh;
            .wrapper{
                span{font-size: 2rem;
                }
            }
            }
        }
    }

@media screen and (max-width: 650px){
        .HomeCategories{
            padding: 3rem;
    
            .categories{
                height: 35vh;
                .wrapper{
                    span{font-size: 1.2rem;
                    }
                }
                }
            }
        }
    