.location{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5rem;

    &-column{

        &__2{
            margin-right: 5rem;
            font-size: 1.6rem;
            line-height: 3rem;
            width: 30rem;
            padding: 2rem;

            .details{
                &__title{
                    margin-bottom: 2rem;
                }

                &__link{
                    color: #e45454;
                    text-decoration: underline;

                    &:hover{
                        cursor: pointer;
                        filter: brightness(.7);
                        
                    }
                }
            }
        }
        &__3{
            line-height: 2rem;
            font-size: 1.3rem;

            h2{
                margin-bottom: 1rem;
            }
        }
    }
    
   

}

@media screen and (max-width:650px) {
    .location{
        justify-content: center;

        flex-direction: column;
        align-items: flex-start;
        &-column{
            &__3{
                padding: 2rem;
            }
        }
}}
